* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

main {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  background-image: url(/img/wallhaven-j86dgw\ 1.png );
}

.titlebox_context {
  font-weight: bolder;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px;
}

.minititle {
  display: inline-block;
  font-family: "Robot Condensed", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color:rgb(103, 106, 110)
}


.container {
  height: 625px;
  width: 750px;
  background-color: rgb(237, 241, 246);
  border-radius: 10px;
}

.input_box {
  width: 275px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  border-radius: 15px;
}


.input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 300px;
  height: 48px;
  background-color: rgb(255, 157, 0);
  border-radius: 15px;
  border: solid rgb(255, 157, 0);
  margin: 50px;
  font-size: 20px;
  font-weight: 900;
  color:white
}


.second {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  gap: 20px;
}

.regpage a {
  text-decoration: none;
  color: inherit;
}

.rememberpass a{
  text-decoration: none;
  color: inherit;
}